<!DOCTYPE html>
<html>
<head>
    <title>Add Event</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="form-box">

    <h2>Add Event</h2>

    <form action="/addevent" method="POST">

        <input type="text" name="event_name" placeholder="Event Name" required>

        <input type="date" name="event_date" required>

        <input type="text" name="venue" placeholder="Venue" required>

        <button type="submit">Add Event</button>

    </form>

</div>

</body>
</html>