<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="form-box">

        <h2>Student Registration</h2>

        <form action="/register" method="POST">

            <input type="text" name="name" placeholder="Enter Name" required>

            <input type="email" name="email" placeholder="Enter Email" required>

            <input type="text" name="phone" placeholder="Enter Mobile Number" required>

            <input type="text" name="department" placeholder="Enter Department" required>

            <input type="text" name="semester" placeholder="Enter Semester" required>

            <input type="password" name="password" placeholder="Enter Password" required>

            <button type="submit">Register</button>

        </form>

    </div>

</body>
</html>